<div class="title">máy tính của bà bán cá</div>
<div class="calc-body">
      <div class="screen">
        <div class="caculator">{{caculator.firstNumber}} {{caculator.operation}} {{caculator.secondNumber}}</div>
        <div class="caculator"> {{caculator.result}}</div>
      </div>
      <div class="flex-container">
        <button class="red-box" (click)="clearAll()">AC</button>
        <button class="red-box" (click)="clear()">C</button>
        <button class="darkg-box" (click)="delete()">Del</button>
        <button class="darkg-box" (click)="pressKeyWord('/')">÷</button>
      </div>

      <div class="flex-container2">
        <button class="grey-box" (click)="pressKeyWord('7')">7</button>
        <button class="grey-box" (click)="pressKeyWord('8')">8</button>
        <button class="grey-box" (click)="pressKeyWord('9')">9</button>
        <button class="darkg-box" (click)="pressKeyWord('*')">x</button>
      </div>
      <br />

      <div class="flex-container2">
        <button class="grey-box" (click)="pressKeyWord('4')">4</button>
        <button class="grey-box" (click)="pressKeyWord('5')">5</button>
        <button class="grey-box" (click)="pressKeyWord('6')">6</button>
        <button class="darkg-box" (click)="pressKeyWord('-')">-</button>
      </div>
      <br />

      <div class="flex-container2">
        <button class="grey-box" (click)="pressKeyWord('1')">1</button>
        <button class="grey-box" (click)="pressKeyWord('2')">2</button>
        <button class="grey-box" (click)="pressKeyWord('3')">3</button>
        <button class="darkg-box" (click)="pressKeyWord('+')">+</button>
      </div>
      <br />

      <div class="flex-container2">
        <button class="grey-box2" (click)="pressKeyWord('0')">0</button>
        <button class="grey-box" (click)="pressKeyWord('.')">.</button>
        <button class="orange-box" (click)="pressKeyWord('=')">=</button>
      </div>
      <br />

    </div>